language: racket
sudo: false
env:
  global:
    - RACKET_DIR=~/racket
  matrix:
   - RACKET_VERSION=HEAD

before_install:
 - git clone https://github.com/greghendershott/travis-racket.git
 - cat travis-racket/install-racket.sh | bash
 - export PATH="${RACKET_DIR}/bin:${PATH}"

install:

before_script:

script:
 - raco pkg install -u --auto ../monadic-eval/
 - raco test --drdr --package monadic-eval
 - cd paper ; make main.tex
